### 문자열 내장함수

In [1]:
# 문자열을 대, 소문자 변경 

a_text = "Hello world"

# upper() : 모든 문자열을 대문자로 변경
print(a_text.upper())
# lower() : 모든 문자열을 소문자로 변경
print(a_text.lower())
# swapcase() : 대문자를 소문자로 소문자를 대문자로 변경
print(a_text.swapcase())
# title() : 단어의 첫글자를 대문자로 변경
print(a_text.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [2]:
# 공백을 제거하는 함수 
# strip() : 문자열의 좌우의 공백을 제거 
# lstrip() : 문자열 좌측의 공백을 제거 
# rstrip() : 문자열 우측의 공백을 제거 
b_text = "  Hello world  "
print(b_text)

  Hello world

In [3]:
b_text

'  Hello world  '

In [4]:
# 좌우의 공백을 제거 
b_text.strip()

'Hello world'

In [8]:
# 좌측의 공백을 제거
b_text.lstrip()

'Hello world  '

In [9]:
# 우측의 공백을 제거 
b_text.rstrip()

'  Hello world'

In [10]:
c_text = "$$Hello%%"
print(c_text)

$$Hello%%

In [11]:
# 좌측의 $를 제거 
c_text.lstrip('$')

'Hello%%'

In [12]:
# 우측의 %를 제거
c_text.rstrip('%')

'$$Hello'

In [13]:
# replace({치환을 할 문자열}, {치환이 될 문자열})
c_text = 'Hello World'
c_text.replace('Hello', 'Hi')

'Hi World'

In [14]:
# replace()함수를 이용하여 문자열의 공백을 제거 
d_text = "  Hello  World  "
d_text

'  Hello  World  '

In [15]:
d_text.replace(" ", "")

'HelloWorld'

In [16]:
# split() : 특정한 문자열을 이용하여 문자열을 나눠주는 함수
e_text = "a,b,c,d"
e_text.split(',')

['a', 'b', 'c', 'd']

In [17]:
f_text = 'a/b/c/d'
f_text.split('/')

['a', 'b', 'c', 'd']

In [18]:
a = 'Hello'
a.find('b')

-1

### 함수 
- 어떠한 입력값을 가지고 작업을 실행하고 결과물을 출력한다.

In [19]:
# 매개변수가 존재하지 않는 함수를 생성
# 매개변수가 존재하지 않으면 함수를 동일한 행동을 반복 
def func_1():
    result = 'Hello'
    return result

In [20]:
print(func_1())
print(func_1())
print(func_1())

Hello
Hello
Hello

In [22]:
print(func_1('a'))

TypeError: func_1() takes 0 positional arguments but 1 was given

In [21]:
# 매개변수가 존재하는 함수를 생성 
def func_2(a, b):
    result = a + b
    return result

In [23]:
# 매개변수가 2개인 함수를 호출 -> 해당하는 함수를 호출을 할때는 인자의 개수가 2개
print(func_2(4, 5)) # 9
print(func_2(1, 2)) # 3

9
3

In [24]:
# error code 
# 매개변수의 개수와 인자의 개수를 다르게 호출하는 경우 
print(func_2(5))

TypeError: func_2() missing 1 required positional argument: 'b'

In [25]:
# 함수를 생성할때 매개변수에 기본값을 지정 
def func_3(a, b = 2):
    result = a ** b
    return result

In [26]:
print(func_3(5, 3))  # 125
print(func_3(8)) # 64

125
64

In [27]:
def func_4(input_x, input_y):
    result = input_x - input_y
    return result

In [28]:
print(func_4(10, 3))  # 7
print(func_4(input_y = 10, input_x = 3)) # -7

7
-7

In [32]:
# 함수 생성 
# 매개변수는 2개 -> start, end 
# start부터 시작해서 end까지의 누적합을 출력
# start의 기본값은 1, end의 기본값은 10
def func_5(start = 1, end = 10):
    # 합계라는 초기 값은 0으로 지정 
    result = 0

    # start부터 end까지 반복을 하는 반복문을 생성 
    for i in range(start, end+1, 1):
        # result = result + i
        result += i
        # for문 종료 후
        return result

In [33]:
print(func_5())
# start = 1, end = 10, result = 0
# for i in range(1, 11, 1):
#   result = result + i  --> result = 0 + 1
#   return result --> result를 되돌려주고 함수를 종료

1

In [38]:
def func_6(start = 1, end = 10):
    # 합계라는 초기 값은 0으로 지정 
    result = 0

    # start부터 end까지 반복을 하는 반복문을 생성 
    for i in range(start, end+1, 1):
        # result = result + i
        result += i
    # for문 종료 후
    print(result)
    return result

In [39]:
print(func_6())
# start = 1, end = 10, result = 0
# for i in range(1, 11, 1):
#   result = result + i --> reulst = 0 + 1
#   result = result + i --> reulst = 1 + 2
#  ....
#   result = result + i --> reulst = 36 + 9
#   result = result + i --> reulst = 45 + 10
# return result

55
55

In [40]:
print(func_6(end=100))

5050
5050

In [42]:
# 1부터 100까지의 누적합 도중 합계가 3000이 넘어가는 최초의 숫자는 몇일까?

# 합계 초기값을 지정 0
sum_result = 0

for i in range(1, 101, 1):
    sum_result += i
    # 합계가 3000보다 큰 경우 
    if sum_result > 3000:
        break
print(i)
print(sum_result)

77
3003

In [43]:
# 1부터 1씩 증가시켜서 누적합이 15000이 되는 순간의 숫자가 몇인가?
sum_result = 0 

for i in range(1, 500, 1):
    sum_result += i
    if sum_result > 15000 : 
        break

print(i)
print(sum_result)

173
15051

In [45]:
i = 1
sum_result = 0

while True:
    sum_result += i
    if sum_result > 150000:
        break
    i += 1
print(i)
print(sum_result)

548
150426