In [2]:
## 라이브러리 로드 
import pandas as pd

### 파일의 경로 
- 절대 경로
    - 절대적인 주소 값
    - 환경이 변경이 되더라도 같은 위치를 지정
    - ex) c:/users/admin/a.txt, https://www.google.com
- 상대 경로
    - 상대적인 주소 값
    - 환경이 변경되었을 때 위치도 변경 
    - ex)
        - ./ : 현재 작업중인 디렉토리
        - ../ : 현재 디렉토리에서 상위 폴더로 이동
        - 폴더명/ : 해당 디렉토리로 이동

### 외부의 데이터 파일을 로드 
- csv 
    - ','로 이루어진 데이터
    - read_csv()
- json
    - json 데이터는 dict와 흡사
    - read_json()
- excel
    - read_excel()
    - xls, xlsx 파일 확장자에 따라서 추가적인 라이브러리 설치 
- xml
    - read_xml()

In [4]:
## 외부의 csv 파일을 로드 
## 상대 경로 
## 상위 폴더로 이동(../) -> csv라는 하위폴더로 이동(csv/) -> corona.csv
df = pd.read_csv("../csv/corona.csv")
df

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [ ]:
## 절대 경로 사용
df2 = pd.read_csv("D:\\python\\ezen_python_2401\\csv\\corona.csv")
df2

In [ ]:
# 데이터프레임의 상위 데이터들 추출
df.head(2)

In [ ]:
# 데이터프레임의 하위 데이터들 추출
df.tail()

In [5]:
# 데이터프레임의 정보를 출력
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [6]:
## 데이터프레임에서 결측치의 개수를 확인
df.isna().sum()

Unnamed: 0      0
createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [ ]:
a = df.isna()

In [ ]:
a.sum(axis=1)

In [ ]:
## 결측치를 제거 
# dropna(axis = {0('rows') | 1('columns')})

# 행을 기준으로 결측치를 제거 
df.dropna(axis=0)

In [ ]:
# 열을 기준으로 결측치를 제거 
df.dropna(axis='columns')

In [ ]:
## 결측치를 특정한 데이터로 치환
# fillna({data}) : 특정한 데이터로 결측치를 치환
# fillna(method = {'ffill' | 'bfill'})

df.fillna(10).head()

In [ ]:
df.fillna(method='ffill').head()

In [ ]:
df.fillna(method='bfill').head()

In [7]:
## 데이터프레임의 통계요약정보 
df.describe()

,Unnamed: 0,deathCnt,decideCnt,seq,stateDt,accExamCnt,accDefRate
count,820.000000,820.000000,8.200000e+02,820.000000,8.200000e+02,6.920000e+02,623.000000
mean,409.500000,3927.832927,1.913097e+06,472.393902,2.020897e+07,7.545057e+06,1.556435
std,236.857904,6164.310693,4.857030e+06,249.701095,7.118265e+03,6.172020e+06,0.543014
min,0.000000,54.000000,7.513000e+03,51.000000,2.020031e+07,2.101440e+05,0.902205
25%,204.750000,415.750000,2.393525e+04,256.750000,2.020100e+07,1.934309e+06,1.078089
50%,409.500000,1812.500000,1.185640e+05,461.500000,2.021042e+07,6.368310e+06,1.416159
75%,614.250000,3120.500000,3.979915e+05,698.250000,2.021112e+07,1.216890e+07,1.816009
max,819.000000,24305.000000,1.818820e+07,904.000000,2.022061e+07,2.151807e+07,3.919308

### 데이터프레임 필터
1. loc[{인덱스의 조건}, {컬럼의 조건}]
    - 인덱스의 값을 기준으로 데이터프레임 필터 
    - 컬럼의 값을 기준으로 데이터프레임 필터 
    - 인덱스와 컬럼의 조건식은 이용하여 데이터프레임 필터 
2. iloc[{인덱스의 위치}, {컬럼의 위치}]
    - 인덱스나 컬럼의 위치를 기준으로 데이터프레임 필터

In [ ]:
# 데이터프레임에서 특정한 데이터를 제거 
# drop( {조건} , axis = {0(rows) | 1(columns)}, inplace = {bool} )
# 데이터프레임명.drop()
# axis : 기준 -> 행을 지울것이냐? 열을 지울것이냐?
# inplace : 참 / 거짓 형태의 데이터를 입력 
#   참 : 기준이 되는 데이터프레임을 변경
#   거짓 : 기준이 되는 데이터프레임을 변경하지 않고 결과를 출력 (기본값)

# df에서 Unnamed: 0 컬럼을 제거 
# df = df.drop('Unnamed: 0', axis=1)
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df2 = df.copy()

In [ ]:
df2 = df2.drop(0, axis=0)

In [ ]:
df2

In [ ]:
## 인덱스의 값이 1인 데이터를 출력 
df2.loc[[1],]

In [ ]:
df2.iloc[[1], ]

In [ ]:
## 특정 컬럼의 데이터만 출력 
df2.loc[ : , ["createDt"] ]

In [ ]:
df2[ ['createDt'] ]

In [ ]:
df2.iloc[ : , [0] ]

In [ ]:
df2.iloc[ : , 1:3 ]

In [ ]:
df2.loc[ : ,  'deathCnt' : 'stateDt' ]

In [ ]:
corona = df.copy()

In [ ]:
### df의 컬럼의 이름을 변경 
### ['등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진자']
df.columns = ['등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진자']

In [ ]:
df.head(1)

In [ ]:
df.columns = corona.columns

In [ ]:
df.head(1)

In [ ]:
## rename() : 컬럼의 값이나 인덱스의 값을 변경 할때 사용하는 함수 
## rename(columns= {dict}, index = {dict})

corona.rename(
    columns= {
        'createDt' : '등록일시', 
        'deathCnt' : '총사망자', 
        'decideCnt' : '총확진자', 
        'seq' : '게시글번호', 
        'stateDt' : '기준일', 
        'stateTime' : '기준시간', 
        'updateDt' : '수정일시', 
        'accExamCnt' : '누적의심자', 
        'accDefRate' : '누적확진자'
    }
    , inplace= True
)

In [ ]:
df.head(1)

In [ ]:
# df에 있는 특정 컬럼의 이름을 변경 
# 누적확진자 -> 누적확진율
df.rename(
    columns = {
        '누적확진자' : '누적확진율'
    }, inplace=True
)

In [ ]:
class Test:
    def __init__(self, data, index = None, columns = None):
        self.data = data
        if index:
            self.index = index
        else:
            self.index = list(range(len(data)))
        if columns:
            self.columns = columns
        else:
            self.columns = list(range(len(data[0])))
    def __repr__(self):
        return str(self.data)

    def add(self, value, inplace = False):
        if inplace:
            self.data = self.data + [value]
        else:
            return self.data + [value]

In [ ]:
value = [
    [1,2,3], 
    [7,8,9], 
    [4,5,6]
]


test_class = Test(value)

In [ ]:
test_class.add(1, inplace=True)

In [ ]:
test_class

In [ ]:
df.head(3)

In [ ]:
# ascending : 오름차순, 내림차순(False)을 지정  오름차순이 기본값
df.sort_values('등록일시', ascending=True, inplace=True)

In [ ]:
df.head(3)

In [ ]:
## 데이터프레임의 인덱스를 재지정(초기화)
df.reset_index(drop = True, inplace=True)

In [ ]:
df.head(3)

In [ ]:
df.values

In [ ]:
# 인덱스의 조건이 1이고 컬럼의 조건이 총사망자인 데이터와
# 인덱스의 조건이 0이고 컬럼의 조건이 총사망자인 데이터의 차이 -> 인덱스1의 일일사망자
df.loc[1, '총사망자'] - df.loc[0, '총사망자']

# 위의 작업은 인덱스의 개수 - 1 만큼 반복 

# 일일사망자가 추가될 리스트를 생성 
# 첫날의 데이터는 0으로 지정 
_list = [0]

for i in range(len(df) -1):
    data = df.loc[ i+1, '총사망자' ] - df.loc[ i, '총사망자' ]
    _list.append(data)

_list

In [ ]:
len(_list)

In [ ]:
df['일일사망자'] = _list

In [ ]:
df.head(3)

In [ ]:
df['총사망자']

In [ ]:
# 스리즈형태에 value를 인덱스 이동 
# shift(n) : n의 기본값은 1
df['총사망자'].shift()

In [ ]:
df['일일사망자2'] = (df['총사망자'] - df['총사망자'].shift(1)).fillna(0)

In [ ]:
df.head(3)

In [ ]:
## 스리즈 데이터에서 데이터간의 차이를 출력하는 함수
## diff(n) : n만큼 인덱스가 이동한 데이터와의 차이를 출력 (n = 1 기본값)
df['일일사망자3'] = df['총사망자'].diff().fillna(0)

In [ ]:
df.head(5)

In [ ]:
### 일일 확진자 파생변수 생성 
### 일일확진자 -> shift()을 이용하여 생성
### 일일확진자2 -> diff()을 이용하여 생성
df['일일확진자'] = (df['총확진자'] - df['총확진자'].shift()).fillna(0)
df['일일확진자2'] = df['총확진자'].diff().fillna(0)
df.head(4)

In [ ]:
### describe() 함수를 이용하여 데이터의 이상이 있는가 확인
df.describe()

In [ ]:
# 일일사망자 데이터에 음수인 데이터만 출력
flag = df['일일사망자'] < 0
df.loc[flag, ]

In [ ]:
flag2 = df['일일확진자'] < 0
df.loc[flag2, ]

In [ ]:
df.loc[444:448, ]

In [148]:
df.loc[445, '등록일시'] = "2021-05-31 00:00:00.000"

In [149]:
df.loc[ [445],  ]

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
445,2021-05-31 00:00:00.000,1959,140337,498,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0,910.0,910.0