In [ ]:
# 라이브러리 로드 
import pandas as pd

In [ ]:
# 1차원 데이터 : 스리즈 생성
# 데이터는 1차원 배열 
# 인덱스는 기본값
value = [100,200,300,400]

pd_series1 = pd.Series(value)

In [ ]:
pd_series1

In [ ]:
print(pd_series1)

In [ ]:
# index의 값을 지정하여 Series 생성
value = [5000,6000,6500,6500]
ser_index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']

pd_series2 = pd.Series(value, index=ser_index)

print(pd_series2)

In [ ]:
# Series라는 Class에는 적어도 2개의 변수가 존재
# values, index 변수가 존재
print('Series의 value 값은', pd_series2.values)
print('Series의 index 값은', pd_series2.index)

In [ ]:
print(type(pd_series2.values))

In [ ]:
# 2차원 데이터 형태 : DataFrame
value = [
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
]
df = pd.DataFrame(value)

In [ ]:
print(df)

In [ ]:
df

In [ ]:
value = [
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
]
_index = ['a', 'b', 'c']
_col = ['A', 'B', 'C']
df2 = pd.DataFrame(value, index=_index, columns=_col)
df2

In [ ]:
# DataFrame이라는 Class에서는 적어도 3개의 변수가 존재 
print(df2.values)
print(df2.index)
print(df2.columns)

In [ ]:
df2.columns = ['가', '나', '다']

In [ ]:
df2

In [ ]:
# 딕셔너리 데이터 형태 : 사전형 데이터 
# 리스트 데이터에서 index(위치) 대신에 key 값을 사용하는 형태
dict_1 = {
    "name" : 'kim', 
    "age" : 20, 
    'phone' : "01012345678"
}
print(dict_1)

In [ ]:
print(dict_1['name'])

In [ ]:
dict_1['name'] = ['kim', 'park']

In [ ]:
dict_1

In [ ]:
dict_1['name'] = 'park'

In [ ]:
dict_1

In [ ]:
# 새로운 키 : 벨류 추가 
dict_1['address'] = 'Seoul'

In [ ]:
dict_1

In [25]:
data = [
    {
        'id' : 'test', 
        'password' : '1234'
    },
    {
        'id' : 'test2', 
        'password' : '0000'
    }
]

In [28]:
print(data[0]['id'])

test

In [29]:
df3 = pd.DataFrame(data)

In [30]:
df3

      id password
0   test     1234
1  test2     0000