## 연습문제 
1. csv 폴더에 있는 Sales Records.csv 파일을 로드 
2. 'Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Sales Channel' 컬럼을 제거 
3. 컬럼의 이름을 변경 -> ['대륙', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '판매단위', '단가', '원가']
4. 대륙, 국가를 기준으로 오름차순 정렬
5. 기존의 인덱스는 제거하고 인덱스를 재지정
6. 새로운 파생변수 생성 
    - 총단가 -> 판매단위 * 단가
    - 총원가 -> 판매단위 * 원가
    - 총이윤 -> 총단가 - 총원가

In [ ]:
import pandas as pd

In [ ]:
## 파일을 로드 
df = pd.read_csv("../csv/sales records.csv")

In [ ]:
df.head(1)

In [ ]:
# 특정 컬럼을 제거 
df = df.drop(
    ['Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Sales Channel'], 
    axis=1)

In [ ]:
## 컬럼의 이름을 변경
df.columns = ['대륙', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '판매단위', '단가', '원가']

In [ ]:
df.head(1)

In [ ]:
## 대륙과 국가를 기준으로 오름차순 정렬 
df.sort_values(
    ['대륙', '국가'], 
    inplace=True
)

In [ ]:
## 인덱스를 재지정 (기존의 인덱스는 제거 )
df.reset_index(drop=True, inplace=True)

In [ ]:
## 파생변수 생성 
df['총단가'] = df['판매단위'] * df['단가']
df['총원가'] = df['판매단위'] * df['원가']
df['총이윤'] = df['총단가'] - df['총원가']

In [ ]:
df.head(3)

In [ ]:
## 대륙별 빈도수를 출력 
df['대륙'].value_counts()

In [ ]:
# 대륙별 총 이윤의 합계가 가장 높은 대륙은 어디인가?

# 데이터프레임의 그룹화 
# groupby({그룹화할 컬럼의 이름}).연산식
df2 = df[ [ '대륙', '총이윤'] ]

In [ ]:
group_data = df2.groupby('대륙').sum()

In [ ]:
# 지수표현 제거 
pd.options.display.float_format = '{:.3f}'.format

In [ ]:
group_data.sort_values('총이윤', ascending=False)

In [ ]:
### 국가별 총이윤의 합계가 높은 상위 5개의 국가만 출력 
df['국가'].value_counts()

In [ ]:
group_data2 = df[ ['국가', '총이윤'] ].groupby('국가').sum()
group_data2

In [ ]:
group_data2.sort_values('총이윤', ascending=False).head()

In [ ]:
df[ ['대륙', '국가', '총이윤'] ].groupby( ['대륙', '국가'] ).agg(['mean', 'sum'])

In [60]:
pd.pivot_table(
    df, 
    index="대륙", 
    columns='상품종류',
    values= "총이윤", 
    aggfunc= "sum", 
    margins=True
)

상품종류,Baby Food,Beverages,Cereal,Clothes,Cosmetics,Fruits,Household,Meat,Office Supplies,Personal Care,Snacks,Vegetables,All
대륙,,,,,,,,,,,,,
Asia,63792050.060,8647185.780,53693513.100,38864007.360,103606872.690,1252062.480,97876160.480,32550460.800,90048570.000,17030249.740,34430739.360,45611425.000,587403296.850
Australia and Oceania,32462893.140,3629612.160,33347224.980,28834453.440,67604133.400,746478.220,61323580.330,17237563.200,29165770.000,8498372.260,18276153.000,22944977.280,324071211.410
Central America and the Caribbean,32823901.900,7199497.080,38325362.850,31311217.440,56765599.210,997462.850,88738305.470,23381415.200,56785735.000,10840930.940,25913925.240,30274496.540,403357849.720
Europe,96873431.920,14728699.800,101092263.750,83293885.440,198996301.440,2536662.370,170298513.180,64302867.200,142333745.000,29402346.680,56154410.580,66986485.440,1026999612.800
Middle East and North Africa,51015541.680,8035130.340,45305723.310,44564199.840,88465403.740,1265447.620,102535493.700,27855141.600,63450346.250,15533791.840,26541528.720,35356145.890,509923894.530
North America,12385016.140,1474138.440,6353586.210,8032573.440,21391399.970,157693.530,21488054.610,5426850.000,11435472.500,2366490.980,4584835.860,4399403.440,99495515.120
Sub-Saharan Africa,112972160.320,17523164.160,94261000.260,84736247.040,176609321.850,2818962.540,176478253.420,57210010.000,126963565.000,26662662.180,61428551.580,61978193.150,999642091.500
All,402324995.160,61237427.760,372378674.460,319636584.000,713439032.300,9774769.610,718738361.190,227964308.000,520183203.750,110334844.620,227330144.340,267551126.740,3950893471.930

In [57]:
group_data3 = df[ ['대륙', '상품종류', '총이윤'] ].groupby(['대륙', '상품종류']).sum()

In [64]:
group_data3

                                             총이윤
대륙                 상품종류
Asia               Baby Food        63792050.060
                   Beverages         8647185.780
                   Cereal           53693513.100
                   Clothes          38864007.360
                   Cosmetics       103606872.690
...                                          ...
Sub-Saharan Africa Meat             57210010.000
                   Office Supplies 126963565.000
                   Personal Care    26662662.180
                   Snacks           61428551.580
                   Vegetables       61978193.150

[84 rows x 1 columns]