## 연습문제 
1. csv 폴더에 있는 Sales Records.csv 파일을 로드 
2. 'Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Sales Channel' 컬럼을 제거 
3. 컬럼의 이름을 변경 -> ['대륙', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '판매단위', '단가', '원가']
4. 대륙, 국가를 기준으로 오름차순 정렬
5. 기존의 인덱스는 제거하고 인덱스를 재지정
6. 새로운 파생변수 생성 
    - 총단가 -> 판매단위 * 단가
    - 총원가 -> 판매단위 * 원가
    - 총이윤 -> 총단가 - 총원가

In [ ]:
import pandas as pd

In [ ]:
## 파일을 로드 
df = pd.read_csv("../csv/sales records.csv")

In [ ]:
df.head(1)

In [ ]:
# 특정 컬럼을 제거 
df = df.drop(
    ['Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Sales Channel'], 
    axis=1)

In [ ]:
## 컬럼의 이름을 변경
df.columns = ['대륙', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '판매단위', '단가', '원가']

In [ ]:
df.head(1)

In [16]:
## 대륙과 국가를 기준으로 오름차순 정렬 
df.sort_values(
    ['대륙', '국가'], 
    inplace=True
)

In [20]:
## 인덱스를 재지정 (기존의 인덱스는 제거 )
df.reset_index(drop=True, inplace=True)

In [21]:
## 파생변수 생성 
df['총단가'] = df['판매단위'] * df['단가']
df['총원가'] = df['판매단위'] * df['원가']
df['총이윤'] = df['총단가'] - df['총원가']

In [22]:
df.head(3)

,대륙,국가,상품종류,우선순위,주문일자,발송일자,판매단위,단가,원가,총단가,총원가,총이윤
0,Asia,Bangladesh,Personal Care,L,12/11/2016,1/13/2017,9420,81.73,56.67,769896.60,533831.40,236065.20
1,Asia,Bangladesh,Cosmetics,M,7/29/2010,9/11/2010,577,437.20,263.33,252264.40,151941.41,100322.99
2,Asia,Bangladesh,Vegetables,C,4/28/2014,5/5/2014,34,154.06,90.93,5238.04,3091.62,2146.42